name: Solar Monitor
version: "1.0.10"
slug: solar_monitor
description: Monitor solar equipments and publish data to Home Assistant
url: https://github.com/Pugi/ha_solar_monitor
services:
  - mqtt:need
hassio_api: true
hassio_role: default
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
init: false
startup: application
boot: auto
host_network: true
schema:
  inverters:
    - name: str
      profile: list(Deye_SG03LP1|Deye_SG04LP3)
      driver: list(modbusTCP|modbusRTU|rawTCPRTU)
      ha_prefix: str
      path: str
      modbus_id: int(0,16)
  batteries:
    - name: str
      profile: list(JK_BMS_BROADCAST)
      driver: list(jkBMS)
      ha_prefix: str
      path: str
      modbus_id: int(0,16)
  mqtt:
    host: str
    port: int
    username: str
    password: str
    discovery_prefix: str
  debug: bool?
  log_level: list(CRITICAL|ERROR|WARNING|INFO|DEBUG|NOTSET)?
options:
  inverters:
    - name: "Deye"
      profile: "Deye_SG04LP3"
      driver: "modbusTCP"
      ha_prefix: "deye_master_"
      path: "192.168.69.3:502"
      modbus_id: 1
  mqtt:
    host: "core-mosquitto"
    port: 1883
    username: "mqtt"
    password: "mqtt"
    discovery_prefix: "homeassistant"
  debug: false
  log_level: "INFO"
map:
  - share:rw

