version: "3.9"

services:
  devcontainer:
    image: ghcr.io/home-assistant/devcontainer:2-addons
    container_name: homeassistant_dev
    privileged: true

    ports:
      - "7123:8123"
      - "7357:4357"

    environment:
      GIT_EDITOR: "code --wait"
      WORKSPACE_DIRECTORY: /mnt/supervisor/addons/local/${LOCAL_WORKSPACE_BASENAME}

    volumes:
      # Workspace (no caching)
      - ./:/mnt/supervisor/addons/local/${LOCAL_WORKSPACE_BASENAME}

      # Volumes from devcontainer.json
      - docker-data:/var/lib/docker
      - supervisor-data:/mnt/supervisor

    working_dir: /mnt/supervisor/addons/local/${LOCAL_WORKSPACE_BASENAME}

    # command: bash devcontainer_bootstrap
    command: tail -f /dev/null

volumes:
  docker-data:
  supervisor-data:
