services:
  python-app:
    image: python:3.11
    container_name: ${COMPOSE_PROJECT_NAME}_dev
    volumes:
      - "../app:/app"
      - "../data:/data"
    working_dir: /app
    command: tail -f /dev/null

  mqtt:
    image: eclipse-mosquitto:latest
    container_name: ${COMPOSE_PROJECT_NAME}_mqtt
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - "./mosquitto:/mosquitto/config/"

  mqtt-web-client:
    image: emqx/mqttx-web
    container_name: ${COMPOSE_PROJECT_NAME}_mqtt_web_client
    ports:
      - "8080:80"
